/*
CSS 
web o pagina:
autor:
fecha:
RECORDAR:
en caso de conflictos se aplica el estilo que se define último,
o sea al final de este archivo o en la misma pagina html

Se incluyen los principales SELECTORES SIMPLES; hay más combinaciones...

*/

* {
  /* estilos por defecto para TODOS los elementos de la página; */
  /* estilo:valor; */
  box-sizing:border-box;
  padding:0px;
  margin:0px;
}

div {
    text-align: center;
}

figure {
  
  width:33%;
  height:400px;
  display: inline-block;

}

img {
  
  height:100%;
  width:100%;
  object-fit:cover;

}

@media screen and (max-width: 900px) {

		figure {
		  
		  height:300px;

		}		
	}

@media screen and (max-width: 600px) {

		figure {
		  
		  height:150px;
		  display: block;

		}		

	}